<%- include("partials/header") %>

<h1>Mind of a Mountain Man</h1>

<h2><%= content[id].title %></h2>
<p>
    <%= content[id].post %>
</p>
<p>Go back to the mane page <a href="/">here</a></p>

<%- include("partials/footer") %>